@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  /*Colores*/
  --nav-color: #2c3763;
  --bottom-color: #0856af;
  --special-color: #457ded;
  --subMenu-color: #4e564e;
  --fondo-screen: #ffffff;
  /*medidas sidebar*/
  --header-height: 3rem;
  --nav-width: 68px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h2 {
  color: var(--nav-color);
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}

.radioStar {
  display: none;
}

.labelStar {
  justify-content: center;
  align-items: center;
  display: inline-block;
}

.star {
  cursor: pointer;
  transition: color 200ms;
  display: inline-block;
}

.cajaEncuesta {
  height: 50%;
  width: 100%;
  margin: 50px auto;
}
.parrafoEncuesta {
  color: var(--nav-color);
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

.calificacionEncuesta {
  color: var(--nav-color);
  text-align: center;
}
.botonEncuesta {
  background-color: var(--bottom-color);
}

.probabilidad {
  color: var(--nav-color);
  font-weight: 500;
}

.swal2-styled.swal2-confirm {
  background-color: var(--bottom-color) !important;
}

.estrellasCalificacionContainer {
  text-align: center;
}
